@use "../variables/colors";

$cells-gap: 0.1rem;

.board {
  display: flex;
  flex-direction: column;
  gap: $cells-gap;
  background-color: colors.$primary;
  padding: 0.3rem;
  border-radius: 0.5rem;
  @media (min-width: 425px) {
    padding: 0.5rem;
  }
}

.board__row {
  display: flex;
  gap: $cells-gap;
}

.board__cell {
  flex: 1;
  aspect-ratio: 1/1;
  background-color: colors.$gray-dark;
  border: 1px solid colors.$gray;
}

.board__cell--accent {
  background-color: colors.$white;
}

.board__buttons {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 1rem;
}
