@use "../variables/colors";
@use "sass:color";

.button {
  padding: 0.2em 1em;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 1px 1px color.adjust(colors.$dark, $alpha: -0.4);
  cursor: pointer;
}

.button--primary {
  background-color: colors.$primary;
  color: colors.$white;

  &:hover {
    background-color: color.adjust(colors.$primary, $blackness: 10%);
  }
}

.button--gray-dark {
  background-color: colors.$gray-dark;
  color: colors.$white;

  &:hover {
    background-color: color.adjust(colors.$gray-dark, $blackness: 10%);
  }
}
